<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IHostService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8080/HostService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IHostService" contract="ServiceReference1.IHostService"
                name="NetTcpBinding_IHostService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
        <behaviors>
            <serviceBehaviors>
                <behavior name="mexBehavior">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
      
        <services>
            <service name="Multisweeper.HostService" behaviorConfiguration="mexBehavior">
              
                <endpoint address="HostService" binding="netTcpBinding" contract="Multisweeper.IHostService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange">
                </endpoint>
              
                <host>
                    <baseAddresses>
                        <add baseAddress="net.tcp://localhost:8080/" />
                        <add baseAddress="http://localhost:8090"/>
                    </baseAddresses>
                </host>
              
            </service>
           
        </services>
    </system.serviceModel>
</configuration>